# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
import numpy as np

# Load CSV files into DataFrames
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

# Concatenate DataFrames
df1_2 = pd.concat([df1, df2], axis=0).reset_index(drop=True)
df1_2_3 = pd.concat([df1_2, df3], axis=0).reset_index(drop=True)

# Perform gender mapping 1
gender_mapping = {'m': 'M', 'male': 'M', 'f': 'F', 'female': 'F', 'femal': 'F'}
df1_2_3['GENDER'] = df1_2_3['GENDER'].str.strip().str.lower().map(gender_mapping)

# State correction 2 
state_mapping = {'WA': 'Washington', 'Cali': 'California', 'AZ': 'Arizona'}
df1_2_3['ST'] = df1_2_3['ST'].str.strip().map(state_mapping)

# Education correction 3 
edu_mapping = {'Bachelors': 'Bachelor'}
df1_2_3['Education'] = df1_2_3['Education'].str.strip().map(edu_mapping)

# Vehicle class correction 4 
class_mapping = {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'}
df1_2_3['Vehicle Class'] = df1_2_3['Vehicle Class'].map(class_mapping)

#correcting LTV % 5 
df1_2_3['Customer Lifetime Value'] = df1_2_3['Customer Lifetime Value'].str.replace('%', '')
df1_2_3['Customer Lifetime Value'] = pd.to_numeric(df1_2_3['Customer Lifetime Value'], errors='coerce')

display (df1_2_3)
df1_2_3['Customer Lifetime Value'].dtype

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,NaN,NaN,NaN,NaN,0.0,1000.0,1/0/00,Personal Auto,NaN,2.704934,NaN,NaN
1,QZ44356,NaN,F,NaN,697953.59,0.0,94.0,1/0/00,Personal Auto,NaN,1131.464935,NaN,NaN
2,AI49188,NaN,F,NaN,1288743.17,48767.0,108.0,1/0/00,Personal Auto,NaN,566.472247,NaN,NaN
3,WW63253,NaN,M,NaN,764586.18,0.0,106.0,1/0/00,Corporate Auto,NaN,529.881344,NaN,NaN
4,GA49547,NaN,M,NaN,536307.65,36357.0,68.0,1/0/00,Personal Auto,NaN,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,NaN,NaN,NaN,NaN,71941.0,73.0,0,Personal Auto,NaN,198.234764,California,M
12070,PK87824,NaN,NaN,NaN,NaN,21604.0,79.0,0,Corporate Auto,NaN,379.200000,California,F
12071,TD14365,NaN,NaN,NaN,NaN,0.0,85.0,3,Corporate Auto,NaN,790.784983,California,M
12072,UP19263,NaN,NaN,NaN,NaN,21941.0,96.0,0,Personal Auto,NaN,691.200000,California,M
12073,Y167826,NaN,NaN,NaN,NaN,0.0,77.0,0,Corporate Auto,NaN,369.600000,California,M

dtype('float64')

In [2]:
# Formatting Number of Open Complaints
#def extract_middle_number(complaint):
 #   if pd.isnull(complaint):
  #     return np.nan
   # return int(complaint.split('/')[1])

#df1_2_3['Number of Open Complaints'] = df1_2_3['Number of Open Complaints'].apply(extract_middle_number)
#median_complaints = df1_2_3['Number of Open Complaints'].median()
#df1_2_3['Number of Open Complaints'].fillna(median_complaints, inplace=True)

# Handling null values for the entire DataFrame
#for column in df1_2_3.select_dtypes(include=['float', 'int']):
 #   median_value = df1_2_3[column].median()
  #  df1_2_3[column].fillna(median_value, inplace=True)

#for column in df1_2_3.select_dtypes(include=['object']):
 #   mode_value = df1_2_3[column].mode()[0]
  #  df1_2_3[column].fillna(mode_value, inplace=True)
#display (df1_2_3)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [8]:
# Your code goes here
url4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
mkt_df = pd.read_csv (url4)
mkt_df.rename(columns={'gender':'GENDER', 'customer': 'Customer', 'state':'ST','customer_lifetime_value':'Customer Lifetime Value', 'education':'Education', 'income':'Income', 'monthly_premium_auto':'Monthly Premium Auto', 'number_of_open_complaints':'Number of Open Complaints', 'policy_type':'Policy Type', 'total_claim_amount':'Total Claim Amount','vehicle_class':'Vehicle Class', 'unnamed:_0':'Index', 'employmentstatus': 'Employment Status', 'total_claim_amount': 'Total Claim Amount'}, inplace=True)
mkt_df['Customer Lifetime Value'] = pd.to_numeric(mkt_df['Customer Lifetime Value'], errors='coerce')
mkt_df1_2_3 = pd.merge(df1_2_3,mkt_df, on =['GENDER','Customer','ST','Customer Lifetime Value','Education','Income','Monthly Premium Auto','Number of Open Complaints','Policy Type','Total Claim Amount','Vehicle Class'], how='outer')
display (mkt_df1_2_3)
mkt_df1_2_3.columns
mkt_df1_2_3['Total Claim Amount'].dtype

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,...,marital_status,months_since_last_claim,months_since_policy_inception,number_of_policies,policy,renew_offer_type,sales_channel,vehicle_size,vehicle_type,month
0,AA11235,Nevada,F,Bachelor,2568.843396,11167.0,73.0,0.384256,Personal Auto,Two-Door Car,...,Married,15.149071,99.0,1.0,Personal L3,Offer2,Branch,Medsize,A,1.0
1,AA11235,Nevada,F,Bachelor,2568.843396,11167.0,73.0,3.0,Personal Auto,Two-Door Car,...,Married,0.000000,99.0,1.0,Personal L3,Offer2,Branch,Medsize,A,1.0
2,AA35519,Arizona,F,College,8002.308333,0.0,107.0,0.0,Personal Auto,SUV,...,Married,3.000000,65.0,3.0,Personal L2,Offer1,Agent,Medsize,A,1.0
3,AA56476,Arizona,F,High School or Below,5595.389905,74454.0,71.0,0.0,Corporate Auto,Four-Door Car,...,Single,25.000000,29.0,3.0,Corporate L2,Offer2,Call Center,Medsize,A,2.0
4,AA56476,Arizona,F,High School or Below,5595.389905,74454.0,71.0,0.384256,Corporate Auto,Four-Door Car,...,Single,15.149071,29.0,3.0,Corporate L2,Offer2,Call Center,Medsize,A,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

dtype('float64')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

Agent is the leading sales channel in total revenue

In [11]:
sales_pivot_df = mkt_df1_2_3.pivot_table(index='sales_channel', values='Total Claim Amount', aggfunc='sum')
sales_pivot_df = sales_pivot_df.round(2)
display(sales_pivot_df)

               Total Claim Amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

high school or college eduction level both in male & female have the highest average lifetime value, M: 693 > F: 625

In [17]:
#mean of gender & education 
ltv_pivot_df = mkt_df1_2_3.pivot_table(index='Customer Lifetime Value', columns=['GENDER', 'Education'], values='Total Claim Amount', aggfunc='sum')
display (ltv_pivot_df) 
ltv_pivot_df.describe (include = 'all')

GENDER                            F                                          \
Education                  Bachelor     College Doctor High School or Below
Customer Lifetime Value
1898.007675                     NaN         NaN    NaN                  NaN
1898.683686                     NaN  702.020904    NaN                  NaN
1904.000852              302.400000         NaN    NaN                  NaN
1918.119700                     NaN         NaN    NaN                  NaN
1940.981221                     NaN         NaN    NaN                  NaN
...                             ...         ...    ...                  ...
717390.940000                   NaN         NaN    NaN                  NaN
725595.380000             50.528355         NaN    NaN                  NaN
817657.680000                   NaN         NaN    NaN                  NaN
860915.820000            289.040734         NaN    NaN                  NaN
897214.030000                   NaN         NaN    NaN                  NaN

GENDER                                   M                 \
Education               Master    Bachelor College Doctor
Customer Lifetime Value
1898.007675                NaN  413.606733     NaN    NaN
1898.683686                NaN         NaN     NaN    NaN
1904.000852                NaN         NaN     NaN    NaN
1918.119700                NaN         NaN   878.4    NaN
1940.981221                NaN         NaN     NaN    NaN
...                        ...         ...     ...    ...
717390.940000              NaN  147.080303     NaN    NaN
725595.380000              NaN         NaN     NaN    NaN
817657.680000              NaN  314.880326     NaN    NaN
860915.820000              NaN         NaN     NaN    NaN
897214.030000              NaN  136.829537     NaN    NaN

GENDER
Education               High School or Below Master
Customer Lifetime Value
1898.007675                              NaN    NaN
1898.683686                              NaN    NaN
1904.000852                              NaN    NaN
1918.119700                              NaN    NaN
1940.981221                            475.2    NaN
...                                      ...    ...
717390.940000                            NaN    NaN
725595.380000                            NaN    NaN
817657.680000                            NaN    NaN
860915.820000                            NaN    NaN
897214.030000                            NaN    NaN

[8064 rows x 10 columns]

GENDER               F                                                 \
Education     Bachelor      College       Doctor High School or Below
count      1266.000000  1202.000000   149.000000          1169.000000
mean        560.336315   520.976728   446.307147           625.187001
std         714.921199   557.672828   569.795452           656.775699
min           2.016239     0.846620     0.517753             1.924709
25%         254.334521   245.678410   161.092415           307.200000
50%         405.838005   386.046123   329.238904           466.446708
75%         618.067567   619.200000   489.600000           710.400000
max        9508.800000  7190.400000  3848.206288          5712.000000

GENDER                            M                            \
Education       Master     Bachelor      College       Doctor
count       333.000000  1190.000000  1138.000000   143.000000
mean        499.118088   583.650181   643.095985   480.235746
std         829.567367   630.705504   741.622260   601.194245
min           2.704934     0.764214     4.238626     0.887629
25%         155.570802   293.114612   298.561408   186.007333
50%         331.200000   422.400000   452.136548   350.400000
75%         516.237951   687.310163   710.510287   544.477677
max        8829.239083  6720.807793  8233.951600  4032.000000

GENDER
Education High School or Below       Master
count              1166.000000   308.000000
mean                693.261050   480.342275
std                 743.183168   534.542615
min                   0.099007     1.489470
25%                 331.200000   206.674832
50%                 504.000000   362.296851
75%                 771.148110   537.600000
max                9273.600000  5400.000000

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here